{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}{% if object %}Edit{% else %}Upload{% endif %} Diagram - Threat Model Repository{% endblock %}

{% block breadcrumb_items %}
<li class="breadcrumb-item"><a href="{% url 'threatmodels:list' %}">Threat Models</a></li>
<li class="breadcrumb-item"><a href="{{ threat_model.get_absolute_url }}">{{ threat_model.title }}</a></li>
<li class="breadcrumb-item active">{% if object %}Edit{% else %}Upload{% endif %} Diagram</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-10">
        <div class="card">
            <div class="card-header">
                <h4 class="mb-0">{% if object %}Edit{% else %}Upload{% endif %} Diagram</h4>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-flex gap-2">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a href="{{ threat_model.get_absolute_url }}" class="btn btn-outline-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
